<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2019 Florian Levis.
  ~ Distributed under the MIT License (http://opensource.org/licenses/MIT)
  -->

<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.0/phpunit.xsd"
        colors="false"
        bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="unit-integration">
            <directory>tests/</directory>
            <exclude>tests/Functional</exclude>
        </testsuite>

        <testsuite name="functional">
            <directory>tests/Functional</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
            <exclude>
                <file>Assert.php</file>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-text" target="php://stdout"/>
    </logging>

    <php>
        <env name="PHIREMOCK_PORT" value="8080"/>
        <env name="PHIREMOCK_INTERFACE" value="0.0.0.0"/>
        <env name="PHIREMOCK_HOST" value="localhost"/>

        <env name="VUFORIA_ACCESS_KEY" value="test"/>
        <env name="VUFORIA_SECRET_KEY" value="test"/>

        <env name="VUFORIA_TEST_TRY_ADD_TARGET" value="false"/>
        <env name="VUFORIA_TEST_TARGET_GET_ID" value="test"/>
    </php>
</phpunit>
